
*.bin
*.obj
CustomWPFColorPicker/.vs/CustomColorPicker/v14/.suo
/.vs/WritingGame/v14
/EduGames/bin/Debug
/EduGames/obj/Debug
/EduGamesTest/obj/Debug
/EduGamesTest/bin/Debug
*.suo
/src/Core/Core.Data/obj/Debug
/src/EduGames/obj/Debug
/.vs
/test/EduGamesTest/bin/Debug
/test/EduGamesTest/obj/Debug
/src/EduGames/bin/Debug
/src/Games/Games.FLickerGamePlugin/obj/Debug
/src/Core/Core.Data/bin/Debug
/src/Games/Games.FLickerGamePlugin/bin/Debug
/src/Games/Games.MandalaGamePlugin/bin/Debug
/src/Games/Games.MandalaGamePlugin/obj/Debug
